body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

main {
  padding: 20px;
  background-image: url(./img/hardgol.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

#titulo{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(248, 246, 246);
    margin-top: 1rem;
    padding: auto;
}
#infogeneral h1{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}
#infogeneral h2{
    text-align: center;
    color: white;
}

#menu {
  background-color: black;
  display: flex;
  justify-content: left;
}

#logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#imglogo {
  width: 8rem;
  height: 10rem;
}


#menulista {
  margin: auto;
  margin-left: 15rem;
}

#listainicio {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
#listainicio li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}

#listainicio li a:hover {
  color: #e03a3e;
}

#listainicio li a {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

footer{
    text-align: center;
    background-color: rgb(62, 61, 169);
    padding: 10px;
}
hr{
    width: 100%;
}