body{
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}
header{
  background-color: #208a39;
  padding: 20px;
  color: white;
}
main{
  padding: 20px;
}
h1{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
h2{
  font-size: 35px;
  text-align: center;
  
}

#cardanfitrion{
  display: flex;
  justify-content: center;
  gap: 70px;
}

#cardcanada1{
  background-image:url(img/Flag_of_Canada_\(Pantone\).svg.png);
  background-size: cover;
  background-position: center;
}

#logo{
  background-color: red;
margin: 0;
padding: 0;
}

#menulista{
  background-color: violet;
}

#menu{
  background-color: aqua;
  display: flex;
  justify-content: left;
}

#listainicio{
  list-style: none;
  gap: 2rem;
 
}

#listainicio li{
  display: inline;

}