body{
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}
header{
  background-color: #6c757d;
  padding: 20px;
  text-align: center;
  color: white;
}
main{
  padding: 20px;
}
h1{
  font-size: 50px;
  margin-bottom: 20px;
}
h2{
  margin-left: 30px;
  font-size: 35px;
}